.logo-container a {
  text-decoration: none;
}


.dropdown-item:hover {
  background-color: black;
}

.dropdown-content::before {
  border-bottom-color: black;
}

.dark-color {
  color: black !important;
}

.dark-background {
  background-color: black !important;
}

.white-color {
  color: #fff !important;
}

@media screen and ( max-width: 768px) {
  .button {
    display: none;
  }
  .dropdown-item {
    background-color: #fff;
    color: black !important;
  }

  .dropdown-content::before {
    border: none;
  }
  
  
.dropdown-item:hover {
  background-color: white !important;
}
}