html, body {
  height: 100%;
  width: 100%;
}
.carousel {
  position: absolute !important;
  top: 0;
  z-index: -1;
}

.carousel-item {
  width: 100vw;
  height: 100vh;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}
.carousel-item div {
  font-size: 0.8em;
  color: #fff;
  letter-spacing: 0.5em;
  position: absolute;
  left: 4em;
  bottom: 4em;
  padding: 1em;
  background-color: black;
}

.carousel-item div .category {
  color: #ccc;
}


/* buttons */
.button {
  line-height: 50px;
  font-size: 40px;
  display: block;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
  user-select: none;
}


@media screen and ( max-width: 768px) {
  .carousel-control-prev, .carousel-control-next {
    display: none;
  }

  .carousel-item div {
    text-align: center;
    position: absolute;
    bottom: 5rem;
    left: 0;
    width: 100%;
    margin: 0;
    letter-spacing: 0.5rem;
  }
}