<!-- Recreated by Ruida Shen -->
<!-- 2019 -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{title}} ---- DI YANG</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="/css/header.css" />
    <link rel="stylesheet" href="/css/slideshow.css" />
    <link rel="stylesheet" href="/css/dark.css" />
</head>

<body>
    <header>
        <div class="logo-container dark">
            <h1 class="logo"><a href="/">DI YANG</a></h1>
        </div>

        <nav class="navigation">
            <div class="nav-item">
                <a href="/">&#43; Installations</a>
                <div class="dropdown-content">
                    <a href="/installations/super_contoured" class="dropdown-item">SUPER CONTOURED</a>
                    <a href="/installations/woven_basket" class="dropdown-item">"WOVEN BASKET"</a>
                    <a href="/installations/in_darkness" class="dropdown-item">"IN DARKNESS"</a>
                </div>
            </div>
            <div class="nav-item">
                <a href="/renderings">&#43; Rendering</a>
                <div class="dropdown-content">
                    <a href="/rendering/sao_paulo_museum" class="dropdown-item">Sao Paulo Museum of Art</a>
                    <a href="/rendering/day&night" class="dropdown-item">Day & Night</a>
                </div>
            </div>
            <div class="nav-item">
                <a href="/models">&#43; Model Making</a>
                <div class="dropdown-content">
                    <a href="/models/W-3D-PAINT" class="dropdown-item">"W" - 3D PRINT</a>
                    <a href="/models/W-CNC" class="dropdown-item">"W" - CNC</a>
                    <a href="/models/W-LASER-CUT" class="dropdown-item">"W" - LASER CUT</a>
                    <a href="/models/FOLD-CUT-INTERLOCK" class="dropdown-item">FOLD+CUT+INTERLOCK</a>
                    <a href="/models/LIGHT-THROUGH-CONCRETE" class="dropdown-item">The light through concrete</a>
                    <a href="/models/MATERIAL-EXPLORATION" class="dropdown-item">Material Exploration</a>
                </div>
            </div>
            <div class="nav-item"><a href="/arts/handrawings">&#43; Arts</a></div>
            <div class="nav-item"><i class="fab fa-instagram"></i></div>
        </nav>
    </header>

    <main>
        <span class="button prev">&lt;</span>
        <span class="button next">&gt;</span>

        <section class="slides-container">
            <div class="slides-container-inner">
                {% for file in files %} <img src="/img/{{dirName}}/{{file}}" class="slides-item" /> {% endfor%}
            </div>
        </section>
    </main>

    <script src=" /js/slideshow.js"></script>
</body>

</html>